body {
  padding: 3rem 0;
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
}

.bg-primary {
    background-color: #a592c2 !important;
}

.jumbotron-other {
    background: url('../images/carousel3.jpg') no-repeat fixed;
}

.jumbotron-detail-apple-pie {
    background: url('../images/products/applepie.jpg') no-repeat fixed;
}
.jumbotron {
  height: 40vh;
  background-size: cover;
  /* background-image: url("../images/bethany-fullsize.jpg"); */
}
